
article{
    
    min-width: 280px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 3px solid rgb(52, 52, 54);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 4px 2px rgba(51, 63, 170, 0.164);
}
.user_app:hover{
    transition: 0.5s;
}

ul{
    display: flex;
    flex-direction: column;
}
li{
    display: flex;
    flex-direction: column;
}

.span_title{
    font-size: 20px;
    font-weight: 600;

}
.span_content{
    font-size: 15px;
    font-weight: 400;
}


.content_button{
    display: flex;
    justify-content: end;
}

.content_button.button{
    z-index: 21;
}

button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    
}
.errase{
    background-color: rgb(187, 48, 48);
}

.edit{
    background-color: rgb(72, 72, 156);
}


